<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilo{{entity.name|capitalize}}.css">

    <title>{{entity.name|capitalize}}</title>
</head>
<body>
    <div class="container">
        <form action="" method="POST">
            <head class="bg-dark text-light">
                <div class="row">
                    <div class="col-lg- col-md col text-center">
                        <h1 class="mt-5">{{entity.name|capitalize}}</h1>
                    </div>
                </div>
            </head>
            <div class="form-group">
                <label for="">Titulo de la {{entity.name|capitalize}}:</label>
                <input type="text" class="form-control" name="nombre" id="title">
            </div>
            <div class="form-group">
                <label for="">Director de la {{entity.name|capitalize}}</label>
                <input type="text" class="form-control" name="director" id="director">
            </div>
            <div class="form-group">
                <label for="">Fecha de Lanzamiento</label>
                <input type="date" class="form-control" name="lanzamiento" id="lanzamiento">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-sm" name="btnSubmit" id="btnSubmit">Enviar</button>
            </div>
        </form>
    </div>

    <div class="container">
        <table class="table table-hover" id="tabla{{entity.name|capitalize}}">
            <thead>
                <tr>
                    {% for property in entity.properties %}
                        <th>{{property.name|capitalize}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="interfazPelicula.js"></script>
    <script src="logicaPelicula.js"></script>
</body>
</html>     